h1 {
    color:white;
}

input {
    margin-top: 5px;
    margin-bottom: 0px;
}

p {
    font-size: 20px;
}

span {
    font-size: 24px;
    color: rgb(99, 99, 99);
    margin-top: 20px;
}

.col-sm-8 {
    border-radius: 4px;
}

.col-sm-4 {
    border-radius: 4px;
}

.bottom {
    margin-top: 4px;
}

.col-sm-3 {
    font-size: 20px;
    padding: 30px 10px;
    margin: 1px;
    background-color: rgba(183, 204, 243, 0.644);
}

.col {
    display: inline-flex;
    border: 1px solid;
    width: 100px;
    height: 100px;
}

.container {
    width: 100%;
    padding: 0px 50px;
}

.change-column {
    text-align: center;
    padding: 0px 15px;
}

/* .panel-body {
    margin: 15px;
} */
.panel {
    margin-bottom: 0px;
}

.panel-body {
    padding: 0px;
    margin: 15px;
}

.btn {
    width: 100%;
}

.alert {
    text-align: center;
}

.row {
    display: flex;
}